#iconWeather {
  width: 100px;
}
#city {
  background: none;
  border: none;
  font-size: 100px;
}
#title {
  font-size: 100px;
  border-bottom: solid 5px rgba(255, 255, 255, 0.445);
  border-radius: 20px;
}
@media screen and (max-width: 768px) {
  #title {
    font-size: 50px;
  }
}
@media screen and (max-width: 430px) {
  #title {
    font-size: 30px;
  }
}

#weatherCol {
  transition: transform 0.5s;
}
#weatherCol :hover {
  transform: scale(1.05);
}
#weatherCard {
  background-color: rgba(255, 255, 255, 0.37);
  color: rgb(255, 255, 255);
}

body {
  background-image: url("/public/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
#navBar {
  background-color: rgba(255, 255, 255, 0.356);
}

#weatherSpec {
  font-size: 50px;
  border-bottom: solid 5px rgba(255, 255, 255, 0.445);
  border-radius: 20px;
}
@media screen and (max-width: 768px) {
  #weatherSpec {
    font-size: 35px;
  }
}
@media screen and (max-width: 430px) {
  #weatherSpec {
    font-size: 25px;
  }
}
